*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1{
	color: blue;
	background: green;
}

h2{
	background: yellow;
}

h3{
	color: blue;
	background: black;
}

h4{
	color: red;
	background: green;
}